/* Початок стилів */
@import url(~node_modules/modern-normalize/modern-normalize.css);
:root {
  --mainColor: #11998e;
  --secondColor: #38ef7d;
}

.container {
  max-width: 1570px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.accent {
  font-family: 'Cats Style', sans-serif;
  font-size: 40px;
  color: orangered;
}

img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

button.load-more,
.search-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translateY(-50%);
  padding: 3px 13px;
  color: whitesmoke;
  border: none;
  border-radius: 13px;
  background: rgb(180, 28, 28);
  background: linear-gradient(
    90deg,
    rgba(180, 28, 28, 1) 0%,
    rgba(232, 134, 22, 1) 67%,
    rgba(236, 212, 90, 1) 100%
  );
  box-shadow: 0px 0px 2px 2px rgb(232, 134, 22);
}

.sl-prev,
.sl-next,
.sl-close {
  padding: 3px 13px;
  color: whitesmoke;
  border: none;
  border-radius: 13px;
  background: rgb(180, 28, 28);
  background: linear-gradient(
    90deg,
    rgba(180, 28, 28, 1) 0%,
    rgba(232, 134, 22, 1) 67%,
    rgba(236, 212, 90, 1) 100%
  );
  box-shadow: 0px 0px 2px 2px rgb(232, 134, 22);
}
button:hover {
  color: #78ebae;
  transition: 0.7s;
  text-decoration: none;
}
button.hidden {
  display: none;
}
input {
  max-width: 100%;
  margin-right: 200px;
  font-size: 20px;
  color: orangered;
  width: 500px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.gallery .cardset {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px;
}
.card-image {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.cardData {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  color: orangered;
}
/* .cardData-item {
} */
